<header>

  <mat-toolbar color="primary">

    <mat-toolbar-row>
      <span class="title" [routerLink]="['/']">Movie App</span>

      <button mat-button [routerLink]="['/']">Accueil</button>
      <button mat-button>Voir tous les films</button>
      <button mat-button>Voir tous les acteurs</button>
      <button mat-button [matMenuTriggerFor]="menu">Découvrir</button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item [routerLink]="['/decouvrir']" [queryParams]="{type: 'film'}">Des films</button>
        <button mat-menu-item [routerLink]="['/decouvrir']" [queryParams]="{type: 'serie'}">Des séries</button>
      </mat-menu>

  </mat-toolbar-row>

  </mat-toolbar>

</header>
