<app-header></app-header>

<h1>{{ title }}</h1>

<div id="card-container">
  <div *ngIf="!discoverSeries" class="card-container">
    <mat-card class="example-card" *ngFor="let movie of discoverMovies" [routerLink]="['/detail/film']" [queryParams]="{id: movie.id}">
      <mat-card-header>
        <mat-card-title>{{ movie.title }}</mat-card-title>
        <mat-card-subtitle>Sortie le {{ formatDate(movie.release_date) }}</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="https://image.tmdb.org/t/p/w500{{ movie.poster_path }}" alt="Photo of {{ movie.title }}">
      <mat-card-content>
        <p>
          {{ movie.overview }}
        </p>
      </mat-card-content>
    </mat-card>
  </div>

  <div *ngIf="!discoverMovies" class="card-container">
    <mat-card class="example-card" *ngFor="let serie of discoverSeries" [routerLink]="['/detail/serie']" [queryParams]="{id: serie.id}">
      <mat-card-header>
        <mat-card-title>{{ serie.name }}</mat-card-title>
        <mat-card-subtitle>Sortie le {{ formatDate(serie.first_air_date) }}</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="https://image.tmdb.org/t/p/w500{{ serie.poster_path }}" alt="Photo of {{ serie.title }}">
      <mat-card-content>
        <p>
          {{ serie.overview }}
        </p>
      </mat-card-content>
    </mat-card>
  </div>
</div>

<mat-chip-list>
  <mat-chip *ngIf="currentPage > 2" (click)="firstPage()"><<</mat-chip>
  <mat-chip *ngIf="currentPage > 1" (click)="previousPage()"> < Précedant</mat-chip>
  <mat-chip (click)="nextPage()">Suivant ></mat-chip>
</mat-chip-list>
